html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-family: 'system-ui', sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 0;
    width: 100%;
    text-align:center; 
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'system-ui', sans-serif;
}

/*-------------------- HEADER --------------------*/

header {
    background-color: #7D1F2F;
    position: relative;
    width: 100vw;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header button {
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

header .center {
    position: absolute;
    top: -12px;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
}

@media screen and (width < 1200px) {
    header .center {
        left: 30%;
    }
}

.center h1 {
    font-size: 30px;
    margin: 0px;
}

/*---- MODALCITO -----*/

.modalcito{
    display: none;
    position: absolute;
    top: 10;
    left: -185px;
    width: 200px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    z-index:999;
    background-color: #fff;
    border: 1px solid #45000C;
    border-radius: 10px 0px 10px 10px;
}

.modalcito div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px 10px;
}

.modalcito div a {
    color: white;
    background-color: #811628;
    width: 100%;
    padding: 4px 0px;
    border-radius: 5px;
}

/* -------------- MODAL MIS DATOS PERSONALES -----------*/

.modalMisDatosPersonales {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index:999;
}

label {
    display: flex;
    flex-direction: column;
    gap:4px;
    font-size: 20px;
}

label input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 0px 10px;
    outline: none;
}

.modalMisDatosPersonales section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.firstData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.secondData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.modalContenidoMisDatosPersonales{
    width: 60vw;
    height: 90vh;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttonContainerMisDatosPersonales {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonContainerMisDatosPersonales button {
    background-color: #E1950D;
    padding: 8px 16px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(62, 62, 62, 0.5);
    -moz-box-shadow: 0px 0px 0px 1px rgba(62,62,62,0.50);
    box-shadow: 0px 0px 0px 1px rgba(62,62,62,0.50);
    margin: 0px 75px;
}

/*-----------------------------------------MEDIO---------------------------------------------*/

.title{
    display: flex;
    justify-content: center;
    }
    
    
    .textPreparacion{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    }
    .textPreparacion h2{
        display: flex; 
        justify-content: center;
    }

    .bordeIng  {

        border-bottom: solid 1px #7D1F2F;
        padding-bottom: 10px;
    }
    
    
    
    .cajaUno{
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 60%;
        height: 250px;
        background-color: rgb(255, 126, 87, 0.38);
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        border-radius: 30px;
    }
    
    .cajaDos{
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 60%;
        height: 830px;
        background-color: rgb(255, 126, 87, 0.38);
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        border-radius: 30px;
        margin-top: 20px;
    }
    
    .botonVolver{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }

    .botonVolver button {
        background-color: #E1950D ;
        border-radius: 20px;
        height: 30px;
        width: 136px;
        color: white;
        border: none;
        transition-duration: 0.5s; 
     }

     .botonVolver button:hover {
        background-color: #7D1F2F;
        color: #E1950D;
        border-style:solid;
        border-width: 2px;
        cursor: pointer;

      } 

    .botonVolver button:active {
        background-color: #610815;
        color: #E1950D;
        border-style:solid;
        border-width: 2px;
        
    }
    
    .bordeTexto {
        padding-top: 10px;
    }
    
    /*-------------------- FOOTER --------------------*/

footer {
    width: 100vw;
    height: 200px;
    background-color: #7D1F2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    color: white;
    margin-top: 10px;
}

footer img {
    width: 200px;
    height: 188px;
    cursor: pointer;
}

footer section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer section a {
    margin-bottom: 10px;
}

@media screen and (width < 1200px) {
    footer {
        flex-direction: column;
        height: 100%;
        width: 100vw;
        padding: 0px;
    }

    footer section {
        width: 70%;
        align-items: center;
    }
}
