*{
    margin: 0px;
    font-family: 'system-ui', sans-serif;
    overflow-x: hidden;
}

/*CONTENEDOR*/

.contenedor{
  height: 100%;
  color: black;
  padding: 50px 100px;
}
  
.contenedorText{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
}

.contenedor2 {
  display: flex;
  justify-content: flex-start;
  gap: 20px; 
  padding: 25px 0px;
  width: 1000px;
}

.textInput1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-right: 50px;
  padding-left: 0px;
  }

.textInput2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  
}

.tableContainer{
  border-radius: 5px;
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #c9c9c9;
}

#totalDetail tr{
  background-color: #7D1F2F;
}

.buttonP{
  display: flex;
  justify-content: end;
}

.buttonPrint{
  margin-top: 30px;
  background-color: #E1950D;
  border-radius: 15px;
  border: 1px solid #E1950D;
  padding: 2px 20px;
  color: white;
  text-align: center;
}

.buttonPrint:hover{
  color: white;
  background-color: #7D1F2F;
  border: 1px solid white;
}





/*FOOTER*/
footer {
    width: 100vw;
    height: 200px;
    background-color: #7D1F2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    color: white;
}

footer img {
    width: 200px;
    height: 188px;
    cursor: pointer;
}

footer section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer section a {
    margin-bottom: 10px;
}


