*{
    margin: 0px;
    font-family: 'system-ui', sans-serif;
    overflow-x: hidden;
}
/*HEADER*/
header {
    text-align: center;
    background-color: #7D1F2F; /* Cambia el color de fondo según tus necesidades */
    color: white; /* Cambia el color del texto según tus necesidades */
    padding: 10px;
    height: auto;
    margin-bottom: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    position: relative; /* Permite posicionar el botón de manera absoluta */
    width: 100%;
    height: 100%;
}
  
  .logoHeader {
    max-width: 20%; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-top: 0; /* Establece el margen superior de la imagen a 0 para que esté pegada arriba */
    margin-bottom: 10px; /* Espacio entre la imagen y el título */
    margin-left: auto; /* Centra horizontalmente la imagen */
    margin-right: auto;
  }
  
  #abrirModal {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
  }
  
  h1 {
    margin-top: 10px; /* Espacio entre la imagen y el título */
  }


/*CONTENEDOR*/
.contenedor{
    height: 100%;
    color: black;
    padding: 50px 100px;
}

.contenedor2 {
    display: flex;
    gap: 20px; 
    padding: 25px 0px;
    
  }
  
  .textInput1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-right: 50px;
    }

.textInput2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-right: 50px;
}


.input{
    border-radius: 8px;
    border: 1px solid rgb(202, 195, 195);
    background-color: rgb(240, 238, 238);
    width: 160px;
    text-align: center;
}

.comprobante{
    width: 100%;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 20px;

}

.contenedor3 {
    display: flex;
  }
  
  .textInput3 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 20px;
  }
  
  .textInput3 > div {
    margin-right: 20px;
  }
  
.textoP{
    padding-bottom: 15px;
}

.botonC{
    display: flex;
    justify-content: end;
}

.botonConfirmar{
    margin-top: 30px;
    background-color: #E1950D;
    border-radius: 15px;
    border: 1px solid #E1950D;
    padding: 5px 15px;
    color: white;
}

.botonConfirmar:hover{
    color: #E1950D;
    background-color: #7D1F2F;
    border: 1px solid #E1950D;
}

/*FOOTER*/
footer {
    width: 100vw;
    height: 200px;
    background-color: #7D1F2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    color: white;
}

footer img {
    width: 200px;
    height: 188px;
    cursor: pointer;
}

footer section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer section a {
    margin-bottom: 10px;
}