*{
    font-family: 'system-ui', sans-serif;
}

body{
    margin: auto;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 84px;
    width: 99vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #811628;
}

.logoHeader {
    width: 79px;
    height: 79px;
    margin-left: 100px;
}

.rightSectionHeader {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-right: 100px;
}

.input {
    position: relative;
    color: black;
}

.input input {
    width: 290px;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    padding: 0px 10px;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    }

    
.input i {
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 99;
    color: black;
}

.user {
    color: white;
}

.cart {
    position: relative;
}

.cart > span {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-align: center;
}

/*SECTION PRINCIPAL*/

.titulo{
    padding-top: 100px;
    color: black;
    text-align: center;
}

.contenedor{
    background-color: white;
    padding: 50px;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.detalles{
    background-color: #81162837;
    padding: 20px;
    display: inline-block;
    justify-content: space-between;
    border-radius: 15px;
}

.producto{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.prod{
    padding-left: 10px;
    padding-right: 10px;
}

.prod1{
    width: 20vw;
    text-align: start;
}

.detalle2{
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    text-align: start;
}

/*BOTONES*/

.botonNav{
    background: none;
    border: none;
    font-size: 24px; /* Ajusta el tamaño del icono según tus necesidades */
    cursor: pointer;
    padding: 0; /* Elimina cualquier relleno adicional */
    display: inline-block; /* Hace que el botón se ajuste al contenido */
    line-height: 1; /* Elimina cualquier espacio vertical adicional */
}

.botones{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
}

.boton1{
    border-radius: 5px;
    padding: 5px;
    background-color: #E1950D;
    color: white;
    border: 0px;
    margin-bottom: 8px;
    cursor: pointer;
}

.boton1:hover{
    background-color: #811628;
}

.boton2{
    border-radius: 5px;
    padding: 5px;
    background-color: #7D1F2F;
    color: white;
    border: 0px;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    font-size: 24px; /* Ajusta el tamaño del icono según tus necesidades */
    cursor: pointer;
    padding: 0; /* Elimina cualquier relleno adicional */
    display: inline-block; /* Hace que el botón se ajuste al contenido */
    line-height: 1; /* Elimina cualquier espacio vertical adicional */
  }

/*FOOTER*/

footer {
    margin: auto;
    height: 200px;
    background-color: #7D1F2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    color: white;
}

footer img {
    width: 200px;
    height: 188px;
    cursor: pointer;
}

footer section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer section a {
    margin-bottom: 10px;
}